# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

.idea

/output
src/.DS_Store
.DS_Store

*.DS_Store
src/.DS_Store

codecept.conf.js.bak

test-report.xml
acceptance-result.xml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
